<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.cap.ajm">

    <uses-permission android:name="app.cap.ajm.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permissions.READ_GSERVICES" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature
        android:name="android.hardware.SensorManager"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.Sensor"
        android:required="true" />

    <application
        android:name=".Util.AJMapp"
        android:allowBackup="true"
        android:icon="@drawable/mainlogo2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/mainlogo2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.REBOOT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SettingActivity"
            android:label="@string/app_name"
            android:parentActivityName=".Activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.RouteActivity"
            android:label="@string/app_name"
            android:parentActivityName=".Activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SearchActivity"
            android:label="@string/app_name"
            android:parentActivityName=".Activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AboutActivity"
            android:label="@string/app_name"
            android:parentActivityName=".Activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.WeatherActivity"
            android:label="@string/app_name"
            android:parentActivityName=".Activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AccActivity"
            android:label="@string/app_name"
            android:parentActivityName=".Activity.MainActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".Service.SensorService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".Service.GPSService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".Activity.DialogActivity"
            android:theme="@style/Base.Theme.AppCompat.Dialog" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD8w-qBv7GVXivpX-ATUq8KrN8UzSt7stc"/>
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <activity
            android:name=".Activity.PermissionActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.TrackActivity"
            android:parentActivityName=".Activity.MainActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".Activity.MapActivity"
            android:parentActivityName=".Activity.TrackActivity"
            android:screenOrientation="portrait">

        </activity>
    </application>

</manifest>